body {
  margin: 0;
  padding: 0;
  background: #4d0013;
}

.container {
  margin: 10%;
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container img {
  width: 400px;
}

.button {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: solid 4px #80112d;
  background-color: #80112d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.yes {
  margin-right: 200px;
}

.no {
  display: block;
  position: absolute;
  transition: 0.5s;
}

@media (max-width: 390px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  h1 {
    text-align: center;
  }
  .yes {
    margin-right: 150px;
  }
}
